<body>

    <div style="text-align:center">
        <h1>{{ title }}</h1>
        <img width="300" alt="Logo Proyecto" src="/assets/parque-tematico.png">
    </div>

    <br><br>

    <div class="dir">

    </div>
    <br><br>

    <!--------------------------------------------------------------------------------------------->
    <!-- para mostrar los Catalogos Totales -->

    <div class="listaPartido">

        <h2>Todos los Partidos</h2>

        <form (ngSubmit)="consultaPartidosTotales(true)" [formGroup]="listarPartidosTotales">

            <button type="submit" style="margin-right: 30px">Listar todos </button>
            <button (click)="LimpiarLista(false)" style="scroll-margin-left: 30px">Limpiar todos </button>

            <br><br>
            <div *ngIf="flag">
                <h2>{{tituloPartidoLista}}</h2>
                <table>
                    <thead>
                        <th>{{tablapartidostotales[0]}}</th>
                        <th>{{tablapartidostotales[1]}}</th>
                        <th>{{tablapartidostotales[2]}}</th>
                        <th>{{tablapartidostotales[3]}}</th>
                        <th>{{tablapartidostotales[4]}}</th>
                    </thead>

                    <tbody>
                        <tr *ngFor='let tick of PartidoUniT'>

                            <th>{{tick.id_partidos}} </th>
                            <th>{{tick.Equipo_Local}} VS {{tick.Equipo_Visitante}} </th>
                            <th>{{tick.FechaPartido}} </th>
                            <th>{{tick.NombreCatalogo}} </th>
                            <th>{{tick.GanadorPartido}} </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <br><br>

    <div class="creaTicket">

        <h2>Registrar Partido</h2>

        <form (ngSubmit)="insertarNuevoPartido()" [formGroup]="crearPartidoU">

            <!-- Los otros controles para la captura de los datos del Catalogo -->

            <span class="spn_lbl">Equipo Local</span>
            <label>
                <select class="dropdown2" formControlName="CBPartidoEquipo" (click)="consultaEquiposTotales()">
                    <option value="value1">Ticket</option>
                    <option *ngFor="let caese of equiposTotales" [value]="caese.id_equipos">
                        {{caese.NombreEquipo}}
                    </option>
                </select>
            </label>
            <br> <br>
            <button type="submit">Buscar Ticket a Editar</button>





            <span class="spn_lbl">Punto Venta: </span>
            <label for="textNuePuntoVentaTicket">
                 <input type="text" name="TtextNuePuntoVentaTicket" id="TtextNuePuntoVentaTicket"
                    formControlName="textNuePuntoVentaTicket">
            </label>
            <br> <br>

            <span class="spn_lbl">Cliente: </span>

            <label for="textNueCliente">

                <input type="text" name="TtextNueCliente" id="TtextNueCliente" formControlName="textNueCliente">

            </label>

            <br><br>

            <button type="submit">Registrar Ticket</button>

            <br><br>
        </form>
    </div>
    <br><br>
</body>
    
       
