<body>

    <div style="text-align:center">
        <h1>{{ title }}</h1>
        <img width="300" alt="Logo Proyecto" src="/assets/parque-tematico.png">
    </div>

    <br><br>

    <div class="dir">

    </div>
    <br><br>

    <!--------------------------------------------------------------------------------------------->
    <!-- para mostrar los Catalogos Totales -->

    <div class="listaPartido">

        <h2>Todos los Partidos</h2>

        <form (ngSubmit)="consultaPartidosTotales(true)" [formGroup]="listarPartidosTotales">

            <button type="submit" style="margin-right: 30px">Listar todos </button>
            <button (click)="LimpiarLista(false)" style="scroll-margin-left: 30px">Limpiar todos </button>

            <br><br>
            <div *ngIf="flag">
                <h2>{{tituloPartidoLista}}</h2>
                <table>
                    <thead>
                        <th>{{tablapartidostotales[0]}}</th>
                        <th>{{tablapartidostotales[1]}}</th>
                        <th>{{tablapartidostotales[2]}}</th>
                        <th>{{tablapartidostotales[3]}}</th>
                        <th>{{tablapartidostotales[4]}}</th>
                    </thead>

                    <tbody>
                        <tr *ngFor='let tick of PartidoUniT'>

                            <th>{{tick.id_partidos}} </th>
                            <th>{{tick.Equipo_Local}} VS {{tick.Equipo_Visitante}} </th>
                            <th>{{tick.FechaPartido}} </th>
                            <th>{{tick.NombreCatalogo}} </th>
                            <th>{{tick.GanadorPartido}} </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <br><br>

    <div class="listaU">
        <h1>Busqueda Partido</h1>
        <form action="" [formGroup]="FormBusquedaPartido">
        
            <select formControlName="TipoBusquedaPartido" (change)="filtros(FormBusquedaPartido)">
                <option value="id_partidos">id</option>
               
            </select> 
            <select formControlName="ValorBusquedaPartido">
                <option *ngFor="let opcion of valuefilters" value="{{opcion}}">{{opcion}}</option>
            </select>
        </form>
        <button (click)="BuscarPartido(FormBusquedaPartido)">Busqueda Equipo</button>
        <table *ngIf="PartidosFiltrados.length >=1">
            <thead>
                <th *ngFor="let key of KeysPartido">{{key}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of PartidosFiltrados ">
                    <th *ngFor="let key of KeysPartido">{{cliente[key]}}</th>
                </tr>
            </tbody>
        </table>
    </div>


    
    



    <div class="creaPartido">

        <h2>Registrar Partido</h2>

        <form (ngSubmit)="insertarNuevoPartido()" [formGroup]="crearPartidoU">

            <!-- Los otros controles para la captura de los datos del Catalogo -->

            <span class="spn_lbl">Equipo local: </span>
            <label for="textNueEquipoLocal">

                <input type="text" name="TtextNueEquipoLocal" id="TtextNueEquipoLocal"
                    formControlName="textNueEquipoLocal">

            </label>
            <br><br>

            <span class="spn_lbl">Equipo Visitante: </span>
            <label for="textNueEquipoVisitante">

                <input type="text" name="TtextNueEquipoVisitante" id="TtextNueEquipoVisitante"
                    formControlName="textNueEquipoVisitante">

            </label>
            <br><br>

            <span class="spn_lbl">Fecha: </span>
            <label for="textNueFechaPartido">

                <input type="text" name="TtextNueFechaPartido" id="TtextNueFechaPartido"
                    formControlName="textNueFechaPartido">

            </label>
            <br><br>

            <span class="spn_lbl">Deporte: </span>
            <label for="textNueDeporte">

                <input type="text" name="TtextNueDeporte" id="TtextNueDeporte" formControlName="textNueDeporte">

            </label>
            <br><br>

            <button type="submit">Registrar Partido</button>

            <br><br>
        </form>
    </div>
    <br><br>

    <div class="editPartido">
        <h2>Modificar un Partido</h2>
        <form (ngSubmit)="SelPartidoEditar()" [formGroup]="ActPartidoU">

            <span class="spn_lbl">Partido a Editar</span>
            <label>
                <select class="dropdown2" formControlName="CBPartidoEdi" (click)="consultaPartidosTotales(false)">
                    <option *ngFor="let caese of PartidoUniT" [value]="caese.id_partidos">
                        {{caese.id_partidos}}
                    </option>
                </select>
            </label>
            <br> <br>
            <button type="submit">Buscar Partido a Editar</button>

            <h2>{{titloPartidoEditar}}</h2>
            <li *ngFor="let cae of PartidoCataEdi">

                <!-- Los otros controles para la captura de los datos deL cATALOGO -->
                <span class="spn_lbl">Equipo Local: </span>
                <label for="CtextNueEquipoLocalEdi"><input type="text" name="CtextNueEquipoLocalEdi"
                        id="CtextNueEquipoLocalEdi" value={{cae.EquipoLocal}} [(ngModel)]="cae.EquipoLocal"
                        [value]="cae.EquipoLocal" formControlName="textNueEquipoLocalEdi">
                </label>
                <br><br>

                <span class="spn_lbl">Equipo Visitante: </span>
                <label for="CtextNueEquipoVisitanteEdi"><input type="text" name="CtextNueEquipoVisitanteEdi"
                        id="CtextNueEquipoVisitanteEdi" value={{cae.EquipoVisitante}} [(ngModel)]="cae.EquipoVisitante"
                        [value]="cae.EquipoVisitante" formControlName="textNueEquipoVisitanteEdi">
                </label>
                <br><br>

                <span class="spn_lbl">Fecha: </span>
                <label for="CtextNueFechaPartidoEdi"><input type="datetime-local" name="CtextNueFechaPartidoEdi"
                        id="CtextNueFechaPartidoEdi" value={{cae.FechaPartido}} [(ngModel)]="cae.FechaPartido"
                        [value]="cae.FechaPartido" formControlName="textNueFechaPartidoEdi">
                </label>
                <br><br>

                <span class="spn_lbl">Deporte: </span>
                <label for="CtextNueDeporteEdi"><input type="text" name="CtextNueDeporteEdi" id="CtextNueDeporteEdi"
                        value={{cae.Deporte}} [(ngModel)]="cae.Deporte" [value]="cae.Deporte"
                        formControlName="textNueDeporteEdi">
                </label>
                <br><br>
            </li>
            <br><br>

            <button (click)="ActualizarPartido()">Actualizar Registro</button>

            <br><br>
        </form>
    </div>
</body>