<body>
  <div class="listaU">
    <h1>Todos los partidos</h1>
    <button (click)="mostrarTabla()">Mostrar Partidos</button>
    <button (click)="limpiarLista()">Limpiar</button>
      <table *ngIf="showTable">
        <thead>
          <th *ngFor="let key of keysPartido">{{key}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of Partidos ">
            <th *ngFor="let key of keysPartido">{{cliente[key]}}</th>
          </tr>
        </tbody>
      </table>
  </div>
  <br>
  <div class="listaU">
    <h1>Registro Partido</h1>
    <form [formGroup]="FormCrearCliente" (ngSubmit)="onSubmitCrearCliente()">
      <div style="display: flex; flex-wrap: wrap;">
        <div style="margin: 10px;" *ngFor="let input of inputFormCliente">
        <label for="{{input.controlName}}">{{input.label}}</label>
        <input type="datetime-local" formControlName="{{input.controlName}}" [class.invalid]="FormCrearCliente.get(input.controlName)?.invalid && (FormCrearCliente.get(input.controlName)?.dirty || FormCrearCliente.get(input.controlName)?.touched || isSubmitted.CrearCliente)">
        <span *ngIf="FormCrearCliente.get(input.controlName)?.hasError('required') && (FormCrearCliente.get(input.controlName)?.dirty || FormCrearCliente.get(input.controlName)?.touched || isSubmitted.CrearCliente)" >This field is required</span>
        </div>
        <div style="margin: 10px;">
          <label for="Deporte">Deporte</label>
          <select formControlName="Deporte">
            <option *ngFor="let catalogo of Catalogos.Deporte" [ngValue]="catalogo?.id_catalogo_universal">{{catalogo?.NombreCatalogo}}</option>
          </select>
        </div>
        <div style="margin: 10px;">
          <label for="EquipoLocal">Equipo Local</label>
          <select formControlName="EquipoLocal">
            <option *ngFor="let catalogo of Catalogos.EquiposRegistrar" [ngValue]="catalogo?.id_equipos">{{catalogo?.NombreEquipo}}</option>
          </select>
        </div>
        <div style="margin: 10px;">
          <label for="EquipoVisitante">Equipo Visitante</label>
          <select formControlName="EquipoVisitante">
            <option *ngFor="let catalogo of Catalogos.EquiposRegistrar" [ngValue]="catalogo?.id_equipos">{{catalogo?.NombreEquipo}}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="button">Crear Partido</button>
    </form>
  </div>
  <br>
  <div class="listaU">
    <h1>Busqueda Partido</h1>
    <form [formGroup]="FormBusquedaCliente" (ngSubmit)="onSubmitBuscarCliente()">
      <select formControlName="TipoBusquedaCliente">
        <option *ngFor="let tipoBusqueda of selectFormBusquedaCliente" [ngValue]="tipoBusqueda.value">{{tipoBusqueda.label}}</option>
      </select>
      <select formControlName="ValorBusquedaCliente">
        <option *ngFor="let valor of valoresBusqueda" [ngValue]="valor.value">{{valor.label}}</option>
      </select>
      <button type="submit">Buscar Partido</button>
    </form>
    <table *ngIf="partidosFiltrados.length >=1">
        <thead>
          <th *ngFor="let key of keysPartido">{{key}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of partidosFiltrados ">
            <th *ngFor="let key of keysPartido">{{cliente[key]}}</th>
          </tr>
        </tbody>
    </table>
      <br>
    <h1>Modificar Partido</h1>
    <h3 *ngIf="partidosFiltrados.length==0">Para modificar un cliente, antes debes buscarlo por id o nombre</h3>
    <h3 *ngIf="partidosFiltrados.length>1">Solo puedes modificar un cliente, haz una busqueda mas especifica, sea por nombre o id</h3>
    <form *ngIf="partidosFiltrados.length==1" [formGroup]="FormModificarCliente" (ngSubmit)="onSubmitModificarCliente()">
      <div style="display: flex; flex-wrap: wrap;">
        <div style="margin: 10px;" *ngFor="let input of inputFormCliente">
        <label for="{{input.controlName}}">{{input.label}}</label>
        <input type="datetime-local" formControlName="{{input.controlName}}" [class.invalid]="FormCrearCliente.get(input.controlName)?.invalid && (FormCrearCliente.get(input.controlName)?.dirty || FormCrearCliente.get(input.controlName)?.touched || isSubmitted.CrearCliente)">
        <span *ngIf="FormCrearCliente.get(input.controlName)?.hasError('required') && (FormCrearCliente.get(input.controlName)?.dirty || FormCrearCliente.get(input.controlName)?.touched || isSubmitted.CrearCliente)" >This field is required</span>
        </div>
        <div style="margin: 10px;">
          <label for="Deporte">Deporte</label>
          <select formControlName="Deporte">
            <option *ngFor="let catalogo of Catalogos.Deporte" [ngValue]="catalogo?.id_catalogo_universal">{{catalogo?.NombreCatalogo}}</option>
          </select>
        </div>
        <div style="margin: 10px;">
          <label for="EquipoLocal">Equipo Local</label>
          <select formControlName="EquipoLocal">
            <option *ngFor="let catalogo of Catalogos.EquiposModificar" [ngValue]="catalogo?.id_equipos">{{catalogo?.NombreEquipo}}</option>
          </select>
        </div>
        <div style="margin: 10px;">
          <label for="EquipoVisitante">Equipo Visitante</label>
          <select formControlName="EquipoVisitante">
            <option *ngFor="let catalogo of Catalogos.EquiposModificar" [ngValue]="catalogo?.id_equipos">{{catalogo?.NombreEquipo}}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="button">Modificar Partido</button>
    </form>
  </div>
</body>
