<body>

    <div style="text-align:center">
        <h1>{{ title }}</h1>
        <img width="300" alt="Logo Proyecto" src="/assets/parque-tematico.png">
    </div>

    <br><br>

    <!--------------------------------------------------------------------------------------------->
    <!-- para mostrar los Catalogos Totales -->

    <div class="listaU">
      <div class="card text-center text-bg-dark mb-3">
        <div class="card-header">
          <h2>Todos los Catalogos</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="consultaCatalogosTotales()" [formGroup]="ListarCatTotales">
              <button type="submit" class="btn btn-light"  style="margin-right: 30px">Listar todos los Catalogos</button>
              <button (click)="LimpiarLista()" class="btn btn-light"  style="scroll-margin-left: 30px">Limpiar todos los Catalogos</button>
              <br><br>
              <h2>{{tituloCataUniLista}}</h2>
              <table class="table-light">
                  <thead>
                      <th>{{tablacatalogosstotales[0]}}</th>
                      <th>{{tablacatalogosstotales[1]}}</th>
                      <th>{{tablacatalogosstotales[2]}}</th>
                  </thead>
                  <tbody>
                      <tr *ngFor='let catu of CataUniT'>
                          <th>{{catu.id_catalogo_universal}} </th>
                          <th>{{catu.NombreCatalogo}} </th>
                          <th>{{catu.TipoCatalogo}} </th>
                      </tr>
                  </tbody>
              </table>
          </form>
        </div>
      </div>
    </div>
    <br><br>
    <div class="listaU">
      <h1>Clasificación de catalogos según su tipo</h1>
    </div>
    <div class="colo" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh;">
        <div class="card-header">
          <h3>Apartados de equipo</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="ListarCatalogoE(2)" [formGroup]="CBCatalogoApartado" style="display: flex; flex-direction: column;">
              Apartado Equipo
              <select class="form-select form-select-sm" style="width: 100%" formControlName="CatApartadofiltro"
                  (click)="ListarCatalogoE(2)">
                  <option *ngFor="let lor of CataUniApartado" [value]="lor.id_catalogo_universal">
                      {{lor.NombreCatalogo}}
                  </option>
              </select>
              <br>
              <button (click)="SelecCatalogoE(2, 1)" class="btn btn-light">Buscar valor a guardar</button>
              <br>
              <li *ngFor="let colo of CataUniApartadoSel">
                  Valor selecionado
                  <label for="EColor"><input type="text" name="EColor" id="EColor" value={{colo.NombreCatalogo}}
                          [(ngModel)]="colo.id_catalogo_universal" [value]="colo.id_catalogo_universal"
                          formControlName="textApartado"></label>
              </li>
          </form>
        </div>
      </div>
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh;">
        <div class="card-header">
          <h2>Deporte</h2>
        </div>
        <div class="card-body">
           <form (ngSubmit)="ListarCatalogoE(1)" [formGroup]="CBCatalogoDeporte" style="display: flex; flex-direction: column;">
              Deporte
              <select class="form-select form-select-sm" style="width: 100%" formControlName="CatDeportefiltro"
                  (click)="ListarCatalogoE(3)">

                  <option *ngFor="let TiVe of CataUniDeporte" [value]="TiVe.id_catalogo_universal">
                      {{TiVe.NombreCatalogo}}
                  </option>
              </select>
              <br>
              <button (click)="SelecCatalogoE(3, 1)" class="btn btn-light">Buscar valor a guardar</button>
              <br>
              <li *ngFor="let tipveh of CataUniDeporteSel">
                  Valor selecionado
                  <label for="ETipVeh"><input type="text" name="ETipVeh" id="ETipVeh"
                          value={{tipveh.id_catalogo_universal}} [(ngModel)]="tipveh.id_catalogo_universal"
                          [value]="tipveh.id_catalogo_universal" formControlName="textDeporte"></label>
              </li>
              <br>
          </form>
        </div>
      </div>
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh;">
        <div class="card-header">
          <h2>Tipo documento</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="ListarCatalogoE(4)" [formGroup]="CBCatalogoDocumento" style="display: flex; flex-direction: column;">
              Documento
              <select class="form-select form-select-sm" style="width: 100%" formControlName="CatDocumentofiltro"
                  (click)="ListarCatalogoE(4)">
                  <option *ngFor="let Marc of CataUniDocumento" [value]="Marc.id_catalogo_universal">
                      {{Marc.NombreCatalogo}}
                  </option>
              </select>
              <br>
              <button (click)="SelecCatalogoE(4, 1)" class="btn btn-light">Buscar valor a guardar</button>
              <br>
              <li *ngFor="let Mar of CataUniDocumentoSel">
                  Valor selecionado
                  <label for="EMarca"><input type="text" name="EMarca" id="EMarca" value={{Mar.id_catalogo_universal}}
                          [(ngModel)]="Mar.id_catalogo_universal" [value]="Mar.id_catalogo_universal"
                          formControlName="textDocumento"></label>
              </li>
              <br>
          </form>
        </div>
      </div>
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh;">
        <div class="card-header">
          <h2>Metodo de pago</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="ListarCatalogoE(5)" [formGroup]="CBCatalogoMetodoPago" style="display: flex; flex-direction: column;">
            Metodo de Pago
            <select class="form-select form-select-sm" style="width: 100%" formControlName="CatMetodoPagofiltro"
                (click)="ListarCatalogoE(5)">

                <option *ngFor="let tidos of CataUniMetodoPago" [value]="tidos.id_catalogo_universal">
                    {{tidos.NombreCatalogo}}
                </option>
            </select>
            <br>
            <button (click)="SelecCatalogoE(5, 1)" class="btn btn-light">Buscar valor a guardar</button>
            <br>
            <li *ngFor="let tido of CataUniMetodoPagoSel">
                Valor selecionado
                <label for="ETipDoc"><input type="text" name="ETipDoc" id="ETipDoc" value={{tido.id_catalogo_universal}}
                        [(ngModel)]="tido.id_catalogo_universal" [value]="tido.id_catalogo_universal"
                        formControlName="textMetodopago"></label>
            </li>
            <br>
        </form>
        </div>
      </div>
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh;">
        <div class="card-header">
          <h2>Identidad de genero</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="ListarCatalogoE(6)" [formGroup]="CBCatalogoIdentidad" style="display: flex; flex-direction: column;">
            Identidad de genero
              <select class="form-select form-select-sm" style="width: 100%" formControlName="CatIdentidadfiltro"
                  (click)="ListarCatalogoE(6)">

                  <option *ngFor="let epss of CataUniEps" [value]="epss.id_catalogo_universal">
                      {{epss.NombreCatalogo}}
                  </option>
              </select>
              <br>
              <button (click)="SelecCatalogoE(6, 1)" class="btn btn-light">Buscar valor a guardar</button>
              <br>
              <li *ngFor="let epso of CataUniEpsSel">
                  Valor selecionado
                  <label for="EEps"><input type="text" name="EEps" id="EEps" value={{epso.id_catalogo_universal}}
                          [(ngModel)]="epso.id_catalogo_universal" [value]="epso.id_catalogo_universal"
                          formControlName="textIdentidad"></label>
              </li>
              <br>
          </form>
        </div>
      </div>
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh;">
        <div class="card-header">
          <h2>Tipo Contacto</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="ListarCatalogoE(7)" [formGroup]="CBCatalogoTipoContacto" style="display: flex; flex-direction: column;">
            Tipo Contacto
            <select class="form-select form-select-sm" style="width: 100%" formControlName="CatTipoContactofiltro"
                (click)="ListarCatalogoE(7)">

                <option *ngFor="let pfs of CataUniPrefSexual" [value]="pfs.id_catalogo_universal">
                    {{pfs.NombreCatalogo}}
                </option>
            </select>
            <br>
            <button (click)="SelecCatalogoE(7, 1)" class="btn btn-light">Buscar valor a guardar</button>
            <br>
            <li *ngFor="let pfse of CataUniTipoContacto">
                Valor selecionado
                <label for="Epfse"><input type="text" name="Epfse" id="Epfse" value={{pfse.id_catalogo_universal}}
                        [(ngModel)]="pfse.id_catalogo_universal" [value]="pfse.id_catalogo_universal"
                        formControlName="textTipoContacto"></label>
            </li>
            <br>
        </form>
        </div>
      </div>
    </div>
    <br>

    <div class="creaU" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh; width: 40%;">
        <div class="card-header">
          <h2>Registrar Catalogo</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="InsertarNuevoCatalogo()" [formGroup]="CrearCatalogoU" style="display: flex; flex-direction: column;">
              <span class="spn_lbl">Texto Tipo de Catalogo</span>
              <label for="textNueTipoCat">
                  <input type="text" name="TtextNueTipoCat" id="TtextNueTipoCat" style="width: 100%;" formControlName="textNueTipoCat">
              </label>
              <br>
              <span class="spn_lbl">Tipo de Catalogo</span>
              <label for="CBTipoCatalogo">
                  <select class="form-select form-select-sm" formControlName="CBTipoCatalogo" style="width: 100%;" (click)="ListarCatalogoE(1)">

                      <option value="value1">Tipos Documentos</option>

                      <option *ngFor="let tidos of CataUniCatalogo" [value]="tidos.id_catalogo_universal">
                          {{tidos.NombreCatalogo}}
                      </option>
                  </select>
              </label>
              <br>
              <button type="submit" class="btn btn-light">Nuevo Catalogo Universal</button>
              <br>
          </form>
        </div>
      </div>
      <div class="card text-center text-bg-dark mb-3" style="margin-right: 2vh; width: 40%;">
        <div class="card-header">
          <h2>Modificar Catalogo</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="SelCataEditar()" [formGroup]="ActCatalogoU" style="display: flex; flex-direction: column;">
              <span class="spn_lbl">Catalogo a Editar</span>
              <label>
                  <select class="form-select form-select-sm" formControlName="CBCatalogoEdi" style="width: 100%;" (click)="consultaCatalogosTotales()">
                      <option value="value1">Catalogo</option>
                      <option *ngFor="let caese of CataUniT" [value]="caese.id_catalogo_universal">
                          {{caese.NombreCatalogo}}
                      </option>
                  </select>
              </label>
              <br>
              <button type="submit" (click)="ListarCatalogoE(1)" class="btn btn-light">Buscar Catalogo a Editar</button>
              <h2 style="margin-top: 2vh;">{{titloCataUniEditar}}</h2>
              <li *ngFor="let cae of CataUniCataEdi">
                  <span class="spn_lbl">Denominacion</span>
                  <label for="CtextNueDenominacionEdi"><input type="text" name="CtextNueDenominacionEdi"
                          id="CtextNueDenominacionEdi" value={{cae.NombreCatalogo}}
                          [(ngModel)]="cae.NombreCatalogo" [value]="cae.NombreCatalogo"
                          formControlName="textNueDenominacionEdi">
                  </label>
                  <br>
                  <span class="spn_lbl">Tipo de Catalogo</span>
                  <label for="CBTipoCatalogoEdi">
                      <select class="form-select form-select-sm"  formControlName="CBTipoCatalogoEdi" style="width: 100%;" [(ngModel)]="cae.TipoCatalogo">
                          <option value="value1">Tipo Catalogo
                          </option>
                          <option *ngFor="let tidos of CataUniCatalogo" [value]="tidos.id_catalogo_universal">
                              {{tidos.NombreCatalogo}}
                          </option>
                      </select>
                  </label>
                  <br>
              </li>
              <br>
              <button (click)="ActualizarCatalogo()" class="btn btn-light">Actualizar Registro</button>
              <br>
          </form>
        </div>
      </div>
    </div>
    <br>
