<body>
  <div class="listaU">
    <div class="card text-center text-bg-dark mb-3">
      <div class="card-header">
        <h1>Todos las apuestas</h1>
      </div>
      <div class="card-body">
        <button (click)="mostrarTabla()" class="btn btn-light">Mostrar Apuestas</button>
        <button (click)="limpiarLista()" class="btn btn-light">Limpiar</button>
          <table *ngIf="showTable" class="table-light">
            <thead>
              <th *ngFor="let key of keysApuestas">{{key}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of Apuestas ">
                <th *ngFor="let key of keysApuestas">{{cliente[key]}}</th>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <br>
  <div class="listaU text-center">
    <div class="card text-bg-dark mb-3">
        <div class="card-header">
            <h1>Registro Apuesta</h1>
        </div>
        <div class="card-body">
            <form [formGroup]="FormCrearApuesta" (ngSubmit)="onSubmitCrearCliente()" class="text-left">
                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                    <div style="margin: 10px;" *ngFor="let input of inputFormCliente">
                        <label for="{{input.controlName}}">{{input.label}}</label>
                        <input type="text" formControlName="{{input.controlName}}" [class.invalid]="FormCrearApuesta.get(input.controlName)?.invalid && (FormCrearApuesta.get(input.controlName)?.dirty || FormCrearApuesta.get(input.controlName)?.touched || isSubmitted.CrearApuesta)">
                        <span *ngIf="FormCrearApuesta.get(input.controlName)?.hasError('required') && (FormCrearApuesta.get(input.controlName)?.dirty || FormCrearApuesta.get(input.controlName)?.touched || isSubmitted.CrearApuesta)" >This field is required</span>
                    </div>
                    <div style="margin: 10px;">
                        <label for="TicketApuesta">Ticket</label>
                        <select formControlName="TicketApuesta">
                            <option *ngFor="let tickets of Catalogos.TicketApuesta" [ngValue]="tickets.id_tickets">{{tickets.cliente}}</option>
                        </select>
                    </div>
                    <div style="margin: 10px;">
                        <label for="PartidoApuesta">Partido</label>
                        <select formControlName="PartidoApuesta">
                            <option *ngFor="let partido of Catalogos.PartidoApuesta" [ngValue]="partido.id_partidos">{{partido["Equipo Local"]}} vs {{partido["Equipo Visitante"]}}</option>
                        </select>
                    </div>
                    <div style="margin: 10px;">
                        <label for="EquipoApuesta">Equipo</label>
                        <select formControlName="EquipoApuesta">
                            <option *ngFor="let equipo of Catalogos.EquipoApuestaRegistro" [ngValue]="equipo.id_equipos">{{equipo.NombreEquipo}}</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-light">Crear Apuesta</button>
            </form>
        </div>
    </div>
</div>

  <br>
  <div class="listaU">
    <div class="card text-center text-bg-dark mb-3">
      <div class="card-header">
        <h1>Busqueda Apuesta</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="FormBusquedaCliente" (ngSubmit)="onSubmitBuscarCliente()">
          <select formControlName="TipoBusquedaCliente" style="margin-left: 2vh;">
            <option *ngFor="let tipoBusqueda of selectFormBusquedaCliente" [ngValue]="tipoBusqueda.value">{{tipoBusqueda.label}}</option>
          </select>
          <select formControlName="ValorBusquedaCliente" style="margin-left: 2vh;">
            <option *ngFor="let valor of valoresBusqueda" [ngValue]="valor.value">{{valor.label}}</option>
          </select>
          <button type="submit" class="btn btn-light" style="margin-left: 2vh;">Buscar Apuesta</button>
        </form>
        <table *ngIf="apuestasFiltradas.length >=1" class="table-light">
            <thead>
              <th *ngFor="let key of keysApuestas">{{key}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of apuestasFiltradas ">
                <th *ngFor="let key of keysApuestas">{{cliente[key]}}</th>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="card text-center text-bg-dark mb-3">
      <div class="card-header">
        <h1>Modificar Apuesta</h1>
      </div>
      <div class="card-body">
        <h3 *ngIf="apuestasFiltradas.length==0">Para modificar un cliente, antes debes buscarlo por id</h3>
        <h3 *ngIf="apuestasFiltradas.length>1">Solo puedes modificar un cliente, haz una busqueda mas especifica, usa el filtro por id</h3>
        <form *ngIf="apuestasFiltradas.length==1" [formGroup]="FormModificarApuesta" (ngSubmit)="onSubmitModificarCliente()">
          <div style="display: flex; flex-wrap: wrap;">
            <div style="margin: 10px;" *ngFor="let input of inputFormCliente">
            <label for="{{input.controlName}}">{{input.label}}</label>
            <input type="text" formControlName="{{input.controlName}}" [class.invalid]="FormCrearApuesta.get(input.controlName)?.invalid && (FormCrearApuesta.get(input.controlName)?.dirty || FormCrearApuesta.get(input.controlName)?.touched || isSubmitted.CrearApuesta)">
            <span *ngIf="FormCrearApuesta.get(input.controlName)?.hasError('required') && (FormCrearApuesta.get(input.controlName)?.dirty || FormCrearApuesta.get(input.controlName)?.touched || isSubmitted.CrearApuesta)" >This field is required</span>
            </div>
            <div style="margin: 10px;">
              <label for="TicketApuesta">Ticket</label>
              <select formControlName="TicketApuesta">
                <option *ngFor="let tickets of Catalogos.TicketApuesta" [ngValue]="tickets.id_tickets">{{tickets.cliente}}</option>
              </select>
            </div>
            <div style="margin: 10px;">
              <label for="PartidoApuesta">Partido</label>
              <select formControlName="PartidoApuesta">
                <option *ngFor="let partido of Catalogos.PartidoApuesta" [ngValue]="partido.id_partidos">{{partido.Equipo_Local}} vs {{partido.Equipo_Visitante}}</option>
              </select>
            </div>
            <div style="margin: 10px;">
              <label for="EquipoApuesta">Equipo</label>
              <select formControlName="EquipoApuesta">
                <option *ngFor="let equipo of Catalogos.EquipoApuestaModificar" [ngValue]="equipo.id_equipos">{{equipo.NombreEquipo}}</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-light">Modificar Apuesta</button>
        </form>
      </div>
    </div>
  </div>
</body>
